body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#map {
  height: 100vh;
  width: 100%;
}

.search {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  background: #e9e6ec;
  padding: 12px;
  border-radius: 14px;
  z-index: 1000;
}

.search input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.bottom-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #e9e6ec;
  display: flex;
  justify-content: space-around;
  padding: 14px 0;
  border-radius: 20px 20px 0 0;
  z-index: 1000;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.btn.active {
  background: #5c4b83;
  color: white;
}